@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto-Regular"; }

body > img {
  height: 100vh;
  width: 100%;
  filter: brightness(40%);
  position: absolute;
  object-fit: cover;
  object-position: center; }
body header {
  height: 64px;
  widows: 100%; }
  body header .headerTop {
    position: absolute;
    top: 0px;
    height: 44px;
    width: 100%;
    padding-left: 2%;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; }
  body header .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 5%;
    height: 44px; }
    body header .logo-container > img {
      width: 30px;
      vertical-align: middle; }
    body header .logo-container > p {
      font-family: "Roboto-Bold";
      margin-left: 10px;
      line-height: 44px;
      color: #FFFFFF; }
  body header .burger-container {
    margin-left: auto;
    margin-right: 20px;
    z-index: 1; }
    @media all and (min-width: 769px) {
      body header .burger-container {
        display: none; } }
    body header .burger-container .burger {
      position: relative;
      top: 8px; }
      body header .burger-container .burger:hover {
        cursor: pointer; }
      body header .burger-container .burger .burger-top, body header .burger-container .burger .burger-middle, body header .burger-container .burger .burger-bottom {
        display: block;
        height: 5px;
        width: 36px;
        border-radius: 3px;
        background-color: white;
        transition: all 0.3s ease; }
      body header .burger-container .burger .burger-top, body header .burger-container .burger .burger-middle {
        margin-bottom: 7px; }
      body header .burger-container .burger .animation-top {
        transform: rotate(-45deg) translate(-8px, 9px); }
      body header .burger-container .burger .animation-middle {
        opacity: 0; }
      body header .burger-container .burger .animation-bottom {
        transform: rotate(45deg) translate(-8px, -9px); }
body footer {
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0px;
  font-size: 10pt;
  color: white;
  padding: 0% 3%;
  text-align: right;
  vertical-align: middle;
  width: 100%; }
  @media all and (max-width: 768px) {
    body footer {
      font-size: 8pt; } }
  body footer > span {
    color: #29B6F6; }
body main {
  height: fit-content; }
  body main .main-container {
    margin: auto;
    position: relative;
    height: calc(100vh - 114px); }
    body main .main-container .row {
      top: 35%; }
      body main .main-container .row .errorMessage {
        color: white;
        font-family: "Roboto-Bold";
        font-size: 64px;
        text-align: center; }
      body main .main-container .row button {
        left: 50%;
        transform: translateX(-50%);
        position: relative; }

/*# sourceMappingURL=style-errors-tpl.css.map */
